git

workspace/**
!workspace/src/
!workspace/src/uvdar_core/
!workspace/src/uvdar_core/scripts/
!workspace/src/uvdar_core/scripts/two_drones/
!workspace/src/uvdar_core/scripts/two_drones/session.yml

mrs_docker
neural_networks/train_lstm_minmax_cv.py
data/*/
trajectories/generated_trajectories
notes.txt
.bash_history
.*/
env
neural_networks/current_pose_estimation/results/
__pycache__